<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Shows</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
</head>
<body>
    <h1>All Shows</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Network</th>
            <th>Release Date</th>
            <th>Action</th>
         </tr>
         {% for item in all_the_shows %}
             <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.network}}</td>
                <td>{{ item.release_date }}</td>
                <td>
                    <a href="shows/{{item.id }}/detail">Show</a>|
                    <a href="shows/{{item.id}}/edit">Edit</a>|
                    <a href="shows/{{item.id}}/delete">Delete</a>

                </td>
             </tr>
         {% endfor %}

    </table>
    <a href="/shows/new">Add a New Show</a>

</body>
</html>