<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ajax demo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

    <h1>My Posts</h1>
    <ul>
        {% for message in all_the_messages %}
            <li>{{ message.message }}</li>
        {% endfor %}
    </ul>

    <form action = '/addPost' method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Add a note:</legend>
            <p><textarea rows = 5 cols=80 name="message"></textarea></p>
            <button>post it!</button>
        </fieldset>
    </form>
</body>

 <script>

    $('form').submit(function(e){

      e.preventDefault();
      console.log("Form submitted but no HTTP request sent to server!");

      $.ajax({
        url: '/addPost',
        method: 'post',
        data: $(this).serialize(),
        success: function(serverResponse){
                    console.log("Received this from server: ", serverResponse)
                    $("ul").html(serverResponse);
                }
      })
    });
  </script>
</html>